<a href="https://colab.research.google.com/github/sikandardatascientist123/Python-Project/blob/main/databaseconnection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#install & load sqlite3

In [4]:
import sqlite3

In [5]:
#connecting sqlite
#connection object
conn = sqlite3.connect('INSTRUCTOR.db')

Cursor class is an instance using which you can invoke methods that execute SQLite Statements, fetch data from the result sets of the queries. You can create Cursor Object using the cursor() method of the Connection object/class.

In [6]:
#cursor object
cursor_obj = conn.cursor();

# Task2: Create a Table in the database

Before creating a table, let's first check if the table already exists or not. To drop the table from a database, use the DROP query. A cursor is an object that helps execute the qeury and fetch the records from the database.

In [8]:
#Drop the table if already exists
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [9]:
# CREATING A TABLE
table = """create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""

cursor_obj.execute(table)
print("Table is Ready");

Table is Ready

#Task 3: Insert data into the table

In [10]:
cursor_obj.execute(''' insert INTO INSTRUCTOR VALUES(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')

In [11]:
cursor_obj.execute('''insert into INSTRUCTOR values(2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudeva', 'Chicago', 'US')''')

# Task4: Query data in the Table

In [12]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")

output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudeva', 'Chicago', 'US')

In [16]:
## Fetch few rows from the table

statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
print('Few rows data')

output_many = cursor_obj.fetchmany(2)

for row_data in output_many:
  print(row_data)

Few rows data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [17]:
## Fetch only FName from the table

statement = '''SELECT FNAME FROM INSTRUCTOR'''

cursor_obj.execute(statement)


print("first name from the data ")

output_all = cursor_obj.fetchall()

for row in output_all:
  print(row)

first name from the data
('Rav',)
('Raul',)
('Hima',)

In [28]:
query_update = '''update INSTRUCTOR set CITY = 'MOOSETOWN' WHERE FNAME ="Rav"'''
cursor_obj.execute(query_update)

In [29]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
print("All the data")

output_1 = cursor_obj.fetchmany(2)

for row_data in output_1:
  print(row_data)

All the data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

#Task 5 Retrieve data into pandas

In [31]:
import pandas as pd
#retrieve the query results into pandas dataframe
df = pd.read_sql_query("SELECT * FROM INSTRUCTOR;", conn)
#print the dataframe

df

   ID FNAME     LNAME       CITY CCODE
0   1   Rav     Ahuja  MOOSETOWN    CA
1   2  Raul     Chong    Markham    CA
2   3  Hima  Vasudeva    Chicago    US

In [32]:
df.LNAME[0]

'Ahuja'

In [34]:
df.shape

(3, 5)

In [35]:
#Close the connection
conn.close()